<% if current_user %>
  <aside class="menu">
    <ul class="menu-list">
      <li>
        <%= link_to(root_path) do %>
          <%= fa_icon "home", text: "Home", class: "icon" %>
        <% end %>
      </li>
      <li>
        <%= link_to(user_path(current_user)) do %>
          <%= fa_icon "user", text: "Profile", class: "icon" %>
        <% end %>
      </li>
      <li>
        <%= link_to(users_path) do %>
          <%= fa_icon "users", text: "Friends", class: "icon" %>
        <% end %>
      </li>
      <li>
        <%= link_to(root_path) do %>
          <%= fa_icon "cog", text: "Settings", class: "icon" %>
        <% end %>
      </li>
    </ul>
  </aside>
<% end %>