<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>
  </head>
  <%# top navbar %>
  <body>
    <%= render "layouts/navbar" %>

    <%# notices %>
    <%= render "layouts/flash" %>

    <%# side navbar %>
    <div class="columns is-fullheight">
      <div class="column is-2">
        <%= render "layouts/sidebar"%>
      </div>

      <%# main content %>
      <div class="column is-8">
        <%= yield %>
      </div>
    </div>

    <%# footer %>
    <%= render "layouts/footer" %>
  </body>
</html>
